body{
    height: 100%;
    width: 100%;
    background:wheat
}
.blog{
    width: 500px;
}
.main-container {
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
.blogs-container {
    height: 100%;
    width: 50%;
    border: 2px solid blue;
}
.blog {
    height:100px;
    width: 100%;
    border: 5px dotted red;
}
h1 {
text-align: center;
}
section {
    background-color: aliceblue;
margin: 0px 200px;

}
li {
    list-style: none
}

