* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.border-red{
  border: 1px solid red
}
.border-blue{
  border: 1px solid blue
}
.border-green{
  border: 1px solid green
}
body{
  height: 100vh;
}
nav{
  display: block;
  height: 90px;
  width: 100%;
  background-color: rgb(30, 240, 255);
  padding: 10px;

}
nav .logo{
display: inline-block;
height: 70px;
width: 70px;
text-align: center;
}
nav .logo i {
  font-size: 60px;
  /* margin:  */
}
nav ul {
  height: 100%;
  float: right;
  padding: 23px;
}
nav ul li {
  display: inline-block;
}

@media (min-width: 576px){
}

  nav {
    height: 500px;
    }
    nav .logo {
      height: 100%;
      width: 50%;

  }
  nav .logo i {
    font-size: 150px; 

  }
  nav ul li {
    display: block;
  }

