body {
  width: 90%;
}

.page-container {
  width: 100%;
  height: 100%;
  margin: 5%;
}

h1 {
  margin: 20px;
}

.main_image {
  width: 75%;
  text-align: center;
  float: left;
}

.margin-left {
  margin-left: 20px;
  font-size: 24px;
}

.btn-gray {
  background-color: gray;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.wrapper {
  width: 100%;
  display: inline-block;
}

.full-width {
  width: 95%;
}

.text {
  width: 25%;
  float: left;
}

.technology {
  width: 100%;
  font-size: 24px;
  margin-left: 20px;
}

.footer {
  display: none;
}

/* MEDIA QUERY FOR TABLET SIZE */
@media (max-width: 992px){
 h1{
   font-size: 24px;
 }
  .wrapper .text {
    display: none
  }

  .wrapper .main_image {
    width: 100%;
  }
  

}
/* MEDIA QUERY FOR MOBILE DEVICE SIZE */
@media (max-width: 400px){
  .main_image {
    width: 100%;
    text-align: center;
    
  }
  
  .margin-left {
    margin-left: 20px;
    font-size: 24px;
  }
  
  .btn-gray {
    background-color: gray;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .wrapper {
    width: 100%;
    display: inline-block;
  }
  
  .full-width {
    width: 95%;
  }
  
  .text {
    width: 100%;
  }
  
  .technology {
    width: 100%;
    font-size: 18px;
    margin-left: 20px;
  }

  h1 {
    font-size: 20px;
    margin-left: 0px;
  }

  .footer {
    display: block;
    width: 100%;
    margin: 0px;
    
  }
  
  body {
    width: 100%;
  }

  .page-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .links {
    width: 50%;
    float: left;
    text-align: left;
    height: 300px;
    background-color: darkgray;
    
  }

  .social-media {
    width: 50%;
    float: right;
    text-align: left;
    height: 300px;
    background-color: darkgray;
  }

  .social-media h2 {
    margin-left: 20px;
    color: white;
  }

  .links h2 {
    margin-left: 20px;
    color: white;
  }

  .footer ul li {
    list-style-type: none;
  }

}
  
  

