body { 
    height: 100%;
    width: 100%;
    background: peru;
}
div {
    background: red;
    height: 300px;
    width: 250px;
}
#whitesmoke {
    color: aquamarine(215, 215, 186)

}
h3{
    display: inline-block;
}
p {
    display:inline-block;
}
h3, p {
    display:inline-block;
}
p:nth-of-type(2){
    font-size: .5em;
    font-size: 10px;
}
.content {
    text-align: left;
    padding: 0 0 0 10px;
    color: whitesmoke
}
input [type] {
    font-size: 60px;
    background: red;

}